<nav class="navbar">
  <ul>
    <li>
      <a routerLink="/" fragment="top" routerLinkActive="active" [routerLinkActiveOptions]="{ paths: 'exact', queryParams: 'ignored', matrixParams: 'ignored', fragment: 'exact' }">Home</a>
    </li>
    <li>
      <a routerLink="/" fragment="federations" routerLinkActive="active" [routerLinkActiveOptions]="{ paths: 'exact', queryParams: 'ignored', matrixParams: 'ignored', fragment: 'exact' }">Federations</a>
    </li>
    <li>
      <a routerLink="/" fragment="about" routerLinkActive="active" [routerLinkActiveOptions]="{ paths: 'exact', queryParams: 'ignored', matrixParams: 'ignored', fragment: 'exact' }">About</a>
    </li>
  </ul>
</nav>
