<div class="search-container">
  <!-- Circular Button -->
  @if (!isSearchExpanded) {
    <div
      class="search-icon-circle"
      (click)="expandSearch($event)"
      >
      <i class="fas fa-search"></i>
    </div>
  }

  <!-- Search Bar with Integrated Filters -->
  @if (isSearchExpanded) {
    <div class="search-expanded">
      <div class="search-input-container">
        <input
          type="text"
          id="search-bar"
          placeholder="Search..."
          [(ngModel)]="searchQuery"
          (focus)="onSearchFocus()"
          (input)="handleSearch(searchQuery)"
          />
        <!-- Inline Filters -->
        <div class="inline-filters">
          <select [(ngModel)]="filterType" (change)="applyFilter(filterType)">
            <option value="variables">Variables</option>
            <option value="groups">Groups</option>
          </select>
          @if (filterType === 'variables') {
            <div class="additional-filter">
              <select [(ngModel)]="variableTypeFilter" (change)="applyVariableTypeFilter(variableTypeFilter)">
                <option value="">All Types</option>
                @for (type of variableTypes; track type) {
                  <option [value]="type">{{ type }}</option>
                }
              </select>
            </div>
          }
        </div>
      </div>
      <!-- Search Suggestions -->
      @if (searchSuggestionsVisible) {
        <div class="suggestions-container">
          @if (filteredItems.length > 0) {
            <div>
              <ul>
                @for (item of filteredItems; track item) {
                  <li
                    (click)="onItemClick(item)"
                    [title]="generateTooltip(item)">
                    <strong>{{ item.name || item }}</strong>
                  </li>
                }
              </ul>
            </div>
          } @else {
            <div class="no-results">No results found</div>
          }
          <!-- No Results Message -->
        </div>
      }
    </div>
  }
</div>
