<div id="chart-container">
  <!-- Unified Toolbar -->
  <div id="toolbar">
    <div id="breadcrumbs">
      <app-breadcrumb
        [breadcrumbs]="breadcrumbPath"
        (breadcrumbClick)="handleBreadcrumbClick($event)"
      ></app-breadcrumb>
    </div>

    <div id="zoom-control">
      <label for="zoomToggle">{{ isZoomEnabled ? 'Zoom Enabled:' : 'Zoom Disabled:' }}</label>
      <input type="checkbox" id="zoomToggle" [(ngModel)]="isZoomEnabled" (change)="onZoomToggleChange()" />
      <label for="zoomToggle" class="checkbox-indicator"></label>
    </div>


    <div id="max-depth-container">
      <label for="maxDepth">Max Depth:</label>
      <select id="maxDepth" [(ngModel)]="maxDepth" (change)="onMaxDepthChange()">
        @for (depth of createArray(newAvailableDepths); track depth) {
          <option [value]="depth">
            {{ depth }}
          </option>
        }
      </select>
    </div>

    <div id="search-bar-container">
      @if (dataModelHierarchy) {
        <app-search-bar
          [dataModelHierarchy]="dataModelHierarchy"
          (searchResultSelected)="onSearchResult($event)"
        ></app-search-bar>
      }
      <div aria-label="Toggle fullscreen">
        <div class="fullscreen-btn" (click)="toggleFullscreen()">
          <i class="fas" [ngClass]="isFullscreen ? 'fa-compress' : 'fa-expand'"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Chart or Error Template -->
  @if (!error) {
    <div id="chart" style="width: 100%; height: 100%;"></div>
  } @else {
    <div class="error-message">
      {{ error }}
    </div>
  }

</div>
